#map {
  height: 300px;
  margin-top: 40px;
}

#input{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  border-radius: 5px;
}

body{
  background-image: url(../../img/spaghetti-ingredients-2378728_1920.jpg);
  background-size: cover;
  background-position: center;   
}


